#app {
  display: grid;
  width: max(722px, 100%);
  height: 100%;
  grid-template-columns: 1fr 400px;
  grid-template-rows: 120px 1fr;
  overflow: hidden visible;
}

.game-title {
  grid-column: 1/3;
  padding: 20px 0;
  border-bottom: 2px solid white;
  background-image: url("../assets/headerBackground.jpg");
  background-position: 50% 50%;
  background-size: cover;
  box-shadow: 0 0 200px rgba(100, 100, 100, 1);
  color: #eee;
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
}

.game-display {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  background-color: #000;
}

.header {
  width: 420px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0;
}

.player-tile {
  flex-grow: 1;
  flex-direction: row;
  display: grid;
  margin: 0 10px;
  padding: 5px 20px;
  border-bottom: 1px solid white;
}

.player-info {
  grid-column: 1;
  flex-direction: column;
  color: white;
  font-family: "Open Sans", sans-serif;
}

#player-1 {
  text-align: right;
}

#player-2 {
  text-align: left;
}

.player-info-highlight {
  animation: blinkingBackground 2s infinite;
}
@keyframes blinkingBackground {
  0% {
    color: #ff9999;
  }
  50% {
    color: #ffffff;
  }
  100% {
    color: #ff9999;
  }
}

.player-name {
  font-size: 20px;
  font-weight: bold;
}

.player-timer {
  font-size: 16px;
}

.history-display {
  grid-column: 2;
  width: 400;
  height: 100%;
  padding: 25px;
  background-color: #000;
  border-left: 1px solid white;
}

.graph-container {
  width: 350;
  height: calc(100dvh - 200px);
  overflow: scroll;
}

.graph-label {
  color: white;
  font-family: "Open Sans", sans-serif;
  border: 1px solid white;
}

/* board render */
.chessboard {
  margin: 0 auto;
  display: grid;
  position: relative;
  grid-template-rows: repeat(8, 52px);
  grid-template-columns: repeat(8, 52px);
  border: 2px solid white;
  box-sizing: border-box;
}

.board-square {
  box-sizing: border-box;
  flex-grow: 1;
  border: 1px solid #000;
  border-radius: 0px;
}

.board-square:hover {
  border: 1px solid #b00;
}

.white-square {
  display: flex;
  height: 50px;
  width: 50px;
  background-color: #ffe;
  justify-content: center;
  align-items: center;
}

.black-square {
  display: flex;
  height: 50px;
  width: 50px;
  background-color: #394;
  justify-content: center;
  align-items: center;
}

.board-piece {
  display: none;
  margin: auto;
  position: relative;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
}

.white-piece {
  display: flex;
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

.black-piece {
  display: flex;
  color: #000;
  text-shadow: 1px 1px 3px #fff;
}

.piece-icon {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}

/* dialog / game pop-ups */
.dialog {
  z-index: 10;
  background-color: black;
  border: 2px solid white;
  padding: 0;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.35);
}

.promotion-dialog {
  /* position: absolute; */
  width: 208px;
  flex-direction: row;
  inset-inline-end: 500px;
}

.dialog-title {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 20px 0 0 0;
  color: white;
}

.dialog-option-list {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.dialog-button {
  flex-grow: 1;
  justify-content: center;
  background-color: #ccb;
  margin: 1px;
  border: 2px solid white;
  border-radius: 10px;
  height: 45px;
  width: 180px;
}

.dialog-button:hover {
  border: 2px solid red;
  background-color: #ffe;
}

.promotion-button {
  flex-grow: 1;
  justify-content: center;
  background-color: #ccb;
  margin: 1px;
  border: 2px solid black;
  border-radius: 10px;
  height: 50px;
  width: 50px;
}
.promotion-button:hover {
  background-color: #ffe;
}

/* board square overlay colors to show possible moves */
.overlay {
  position: absolute;
  height: 50px;
  width: 50px;
}

.overlay-blue {
  background-color: rgba(0, 150, 255, 0.35);
}
.overlay-red {
  background-color: rgba(255, 100, 100, 0.5);
}
.overlay-yellow {
  background-color: rgba(255, 255, 100, 0.5);
}
.overlay-grey {
  background-color: rgba(100, 100, 100, 0.5);
}
